@model List<Chatapp.Models.MESSAGE>
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>
        window.onload = function () {
            var messageContainer = document.getElementById('message');
            messageContainer.scrollTop = messageContainer.scrollHeight;
        };
    </script>
    <style>
        ::-webkit-scrollbar {
            width: 1px;
        }
        ::-webkit-scrollbar-track {
            background-color: darkgrey;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: aliceblue;
        }

        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        body {
            font-family: 'Times New Roman', sans-serif;
            margin: 0;
        }

        .chat-app {
            display: flex;
            height: 90vh;
            color: burlywood;
        }

        /*        .sender-name {
            font-size: 0.8em;
            color: tomato;
            margin-bottom: 4px;
            font-weight: bold;
        }*/

        .sidebar {
            width: 25%;
            height: 90vh;
            overflow:auto;
            background-color: #1e1e1e;
            display: flex;
            flex-direction: column;
            border-right: 1px solid #333;
            border-right-style: revert-layer;
            border-color: goldenrod;
        }

        .header {
            position: sticky;
            top: 0;
            padding: 15px;
            font-size: 18px;
            background-color: #333;
            text-align: center;
            margin-bottom: 20px;
            border-color: #ff0000;
            border-bottom-style: double;
            border-right-style: solid;
        }

        .chat-item {
            display: flex;
            overflow:auto;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
/*            cursor: pointer;*/
            background-color: #2e2e2e;
            border-radius: 10px;
            transition: background-color 0.3s;
            border-color: #863398;
            border-right-style: double;
        }

        .material-icons {
            top: 20px;
            right: 30px;
        }

        .chat-item:hover {
            background-color: #454545;
        }

        .chat-item::after {
            display: flex;
            align-items: center;
            overflow: auto;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            background-color: #efefefa2;
            border-radius: 10px;
            transition: background-color 0.3s;
            border-color: #863398;
            border-right-style: double;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .chat-info {
            margin-left: 10px;        
            flex: 1;
        }

        .chat-name {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .chat-preview {
            font-size: 14px;
            color: #aaa;
        }

        .chat-window {
            width: 75%;
            display: flex;
            height: 90vh;
            overflow: auto;
            flex-direction: column;
            background-color: #3e3e3e;
        }

        .chat-header {
            display: flex;
            height: 12%;
            align-items: center;
            padding: 15px;
            background-color: #333;
            border-bottom: 1px solid #444;
        }

        .messages {
            padding: 20px;
            height: 90vh;
            overflow: auto;
            background-color: #4e4e4e;
        }

        .message {
            /*display: flex;*/
            /*            flex-flow: column nowrap;*/
            /*align-content: space-around;
            margin-bottom: 20px;*/
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }

            .message.sent {
                justify-content: flex-end;
            }

        .message-name {
            margin-bottom: 5px;
            font-size: 18px;
        }

        .message-content {
            width: 200px;
            word-wrap: break-word;
            padding: 10px;
            border-radius: 15px;
            background-color: #007bff;
            color: #fff;
        }

        .message.received .message-content {
            background-color: #555;
        }

        .input-area {
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: #333;
        }

        .message-input {
            flex: 1;
            padding: 10px;
            border-radius: 20px;
            border: none;
            background-color: #555;
            color: #fff;
            margin: 0 10px;
        }

        .send-button {
            background-color: transparent;
            border: none;
            color: #007bff;
            cursor: pointer;
            font-size: 20px;
        }

            .send-button:hover {
                color: #0056b3;
            }

        input[type=checkbox] {
            float: right;
            margin-right: 50px;
            accent-color: #fc4545;
        }

        p {
            width: 450px;
            color: chocolate;
            font-size: large;
            right: 50px;
            border-block-color: aqua;
        }

        .modal-body {
            width: 950px;
        }

        .send-add {
            border-radius: 5px;
            background-color: black;
            border-color: red;
        }
    </style>
</head>
<div class="chat-app">
    <div class="sidebar">
        <div class="header"><b>TIN NHẮN</b></div>

        @foreach (var group in ViewBag.grouplist)
        {
            <a href="@Url.Action("Chat", "Home", new { groupname = group })" style="color: burlywood; text-decoration: none ">
                <div class="chat-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4ItnHpJivB6Xyu0_DQnY43uFV1cNKc7TaA&s" alt="Avatar" class="avatar">
                    <div class="chat-info">
                        <div class="chat-name">@group</div>
                        <div class="chat-preview"></div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="chat-window">
        <div class="chat-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4ItnHpJivB6Xyu0_DQnY43uFV1cNKc7TaA&s" alt="Avatar" class="avatar">
            <div class="chat-info">
                <div class="chat-name">@ViewBag.groupheader</div>
                <div>Thành viên: @ViewBag.sum người</div>
            </div>
            @*<button class="send-add"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons" style="font-size:25px;color:#ff0000">add</i></a></button>*@
            <button class="send-add" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons" style="font-size:25px;color:#ff0000">add</i></button>
            @if (ViewBag.UserName == ViewBag.User_admin)
            {
                <button class="send-add" data-bs-toggle="modal" data-bs-target="#exampleModal_delete"><i class="material-icons" style="font-size:25px;color:#ff0000">delete_forever</i></button>
            }

        </div>

        <div class="messages" id="message">
            @foreach (var item in Model)
            {
                    if (item.GROUP_ACCOUNTS.USER_ID != ViewBag.UserID)
                    {
                        <div class="message received">

                            <img src="~/Content/image/avatar.jfif" alt="avatar" class="avatar" />
                            <div class="message-name">
                                @item.GROUP_ACCOUNTS.USER.USERNAME
                            <div class="message-content"> @item.TEXT </div>
                        </div>
                    </div>
                    }
                    else
                    {
                    <div class="message sent">
                        <div class="message-content"> @item.TEXT </div>
                    </div>
                    }
            }
        </div>

        <form action="@Url.Action("SendChat", "Home")" method="post">
            <div class="input-area">
                <input type="hidden" value="@ViewBag.groupheader" name="groupname" />
                <input type="text" class="message-input" placeholder="Aa" id="text" name="text" required>
                <button class="send-button"><i class="material-icons" style="font-size:25px;color:lightpink">local_airport</i></button>
            </div>
        </form>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--can giua phuong thuc theo chieu doc-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#615555">
                <h2 class="modal-title" id="exampleModalLabel" style="color:#63f8e7">Thêm Thành Viên</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="@Url.Action("AddUsers", "Home")" method="post">
                <div class="modal-body">
                    <ul style="list-style-type: circle;">
                        @foreach (var user in ViewBag.namefriends)
                        {

                            <li>
                                <p> @user.USERNAME <input type="checkbox" name="ids" value="@user.USER_ID" /></p>
                            </li>
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="@ViewBag.groupheader" name="groupname" />
                    <button type="submit" class="btn btn-primary w-80">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="exampleModal_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--can giua phuong thuc theo chieu doc-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#615555">
                <h2 class="modal-title" id="exampleModalLabel" style="color:#63f8e7">Xóa Thành Viên</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
                <form action="@Url.Action("DeleteUsers", "Home")" method="post">
                    <div class="modal-body">
                        <ul style="list-style-type: circle;">
                            @foreach (var user in ViewBag.User_id_delete)
                            {

                                <li>
                                    <p> @user.USERNAME <input type="checkbox" name="ids_delete" value="@user.USER_ID" /></p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" value="@ViewBag.groupheader" name="groupname" />
                        <button type="submit" class="btn btn-primary w-80">Xóa</button>
                    </div>
                </form>
</div>
    </div>
</div>

@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {

            var chat = $.connection.chatHub;

            $.connection.hub.start().done();

            chat.client.addNewMessageToPage = function (name, message, groupname) {
                console.log(message);
                console.log(name);
                console.log(groupname);
                if (groupname == "@ViewBag.groupheader") {
                    if (name == "@ViewBag.UserName") {
                        $(".messages").append("<div class='message sent'><div class='message-content'>" + message + "</div></div>");
                    }
                    else {
                        $(".messages").append("<div class='message received'>" +
                            " <img src='/Content/image/avatar.jfif' alt='avatar' class='avatar' />" +
                            " <div class='' >" + name  +
                            "<div class='message-content'>" + message + "</div>" + "</div>" + "</div>");
                    }
                };
            }
        });
    </script>
}






